:root {
    --main-color: #1abc9c;
    --second-color: #2c3e50;
}
.home[_ngcontent-nla-c17] {
    background-color: #1abc9c !important;
}
img[_ngcontent-nla-c17] {
    width: 250px;
}
.line[_ngcontent-nla-c6] {
    height: 4px;
    width: 80px;
    background-color: white;
}